<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MTV.Scheduler.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CMEScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CMEScheduler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CMESchedulerApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MTV.Scheduler.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MTV.Scheduler.App.Properties.Settings>
      <setting name="ViewScheduleDetails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RichLogMaxLenght" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="LastScheduleChangeDateTime" serializeAs="String">
        <value>2012-03-28</value>
      </setting>
      <setting name="LastVideoContentLockedOn" serializeAs="String">
        <value>2013-03-28</value>
      </setting>
      <setting name="LastVideoContentScheduledOn" serializeAs="String">
        <value>2013-03-28</value>
      </setting>
      <setting name="LastVideoContentRemovedOn" serializeAs="String">
        <value>2013-03-28</value>
      </setting>
      <setting name="lastRemove" serializeAs="String">
        <value />
      </setting>
      <setting name="Width" serializeAs="String">
        <value>160</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>236</value>
      </setting>
      <setting name="PosterAutomaticRecordLastSent" serializeAs="String">
        <value>28/03/2013</value>
      </setting>
      <setting name="LastCategoryItemsChangedOn" serializeAs="String">
        <value>2014-04-22</value>
      </setting>
      <setting name="LastVideoContentExpiredOn" serializeAs="String">
        <value />
      </setting>
    </MTV.Scheduler.App.Properties.Settings>
    <CMEScheduler.Properties.Settings>
      <setting name="ViewScheduleDetails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RichLogMaxLenght" serializeAs="String">
        <value>2500</value>
      </setting>
    </CMEScheduler.Properties.Settings>
    <CMEScheduler.Settings>
      <setting name="ViewScheduleDetails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RichLogMaxLenght" serializeAs="String">
        <value>2500</value>
      </setting>
    </CMEScheduler.Settings>
    <CMESchedulerApp.Settings>
      <setting name="ViewTransDetails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PortReceive" serializeAs="String">
        <value>20110</value>
      </setting>
      <setting name="PortSend" serializeAs="String">
        <value>20110</value>
      </setting>
      <setting name="LogVerbose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RichLogMaxLenght" serializeAs="String">
        <value>500</value>
      </setting>
    </CMESchedulerApp.Settings>
  </userSettings>
  <appSettings>
    <add key="EbsEcwIpPort" value="172.19.64.231" />
    <add key="HarrisTriggerDateTimeFormatProvider" value="HH:mm:ss:ff" />
    <!-- In Minute -->
    <add key="HeadEndOutputFilesCleanerInterval" value="60" />
    <add key="DayToKeepHeadEndOutputFiles" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DataEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:20:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.1.15:808/DBNotificationPusherService/NotificationPusher.svc" binding="netTcpBinding" bindingConfiguration="DataEndpoint" contract="INotificationPusher" name="DataEndpoint" />
    </client>
  </system.serviceModel> -->

  <system.serviceModel>


    <client>
      <endpoint name="MTV.EventBroker.Service.EventDequeuer"
                address="net.tcp://localhost:63747/EventDequeuer"
                binding="netTcpBinding"
                bindingConfiguration="DuplexBinding"
                contract="MTV.EventDequeuer.Contracts.Service.IEventDequeuer"
                behaviorConfiguration="MTV.Scheduler.APP.EventDequeuerBehavior"/>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="MTV.Scheduler.APP.EventDequeuerBehavior">
          <!--<dataContractSerializer maxItemsInObjectGraph="2147483647"/>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <!--<binding name="DuplexBinding" closeTimeout="00:20:00" openTimeout="00:00:20"
           receiveTimeout="00:00:20" sendTimeout="00:00:20" maxBufferPoolSize="0" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          --><!--<reliableSession ordered="true" inactivityTimeout="00:20:00"
              enabled="true" />--><!--
          <reliableSession enabled="true"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>-->

        <binding name="DuplexBinding" closeTimeout="00:01:00"
                   openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"
                    transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                   maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                  >
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>

      
        
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\temp\MTV.Scheduler.APP.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <MTV.Scheduler.App.Properties.Settings>
      <setting name="KeepAliveCallBackEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KeepAliveCallBackTimerInterval" serializeAs="String">
        <value>30000</value>
      </setting>
    </MTV.Scheduler.App.Properties.Settings>
  </applicationSettings>
</configuration>