<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   
 <add name="mebsEntities" connectionString="metadata=res://*/MEBSCatalogModel.csdl|res://*/MEBSCatalogModel.ssdl|res://*/MEBSCatalogModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=televisio;database=sa_mebs&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>