<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mebsEntities" connectionString="metadata=res://*/Catalog.MEBSCatalogModel.csdl|res://*/Catalog.MEBSCatalogModel.ssdl|res://*/Catalog.MEBSCatalogModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=televisio;Persist Security Info=True;database=sa_mebs&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>